<div class="container index">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="category-card"><%= link_to "Tech", products_path(category: "tech") %></div>
      <div class="category-card"><%= link_to "Education", products_path(category: "education") %></div>
      <div class="category-card"><%= link_to "Design", products_path(category: "design") %></div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <!-- <h1 class="text-center">Products</h1> -->
      <% @products.each do |product| %>
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
            <div class='product-count'>95</div>
          </div>
          <div class='product-body'>
            <h3><%= product.name %></h3>
            <p><%= product.tagline %></p>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <%= link_to product_path(product) do %>
              <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to edit_product_path(product) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to product_path(product), method: :delete do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
